@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
/*     background-color: #F8F9FA; */
}
ul {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
header {
    background-color: #fff;
}
  
  #container {
    width: 92vw;
    height: 89vh;
    margin: 0 auto;
    background-color: #FFD43B;
  }
  
  #boutons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1%;
    padding-top: 5vh;
  }
#inscription, #connexion, .connect_btn {
    background-color: #FFD43B;
    padding: 22px 26.4px;
    border: 0.2em solid #000000;
    border-radius: 0.5em;
    box-shadow: 0 0.375em 0 #000000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1em;
}
#inscription:hover, #connexion:hover, .connect_btn:hover {
    background-color: #FAB005;
    transition: 50ms ease-in;
}
/* #inscription:active, #connexion:active {
    background-color: #FAB005;
    box-shadow: 0 0.125em 0 #000000;
    transform: translateY(0.25em);
    transition: 50ms ease-in; */
  
  /* Différents formulaire */
  /* inscription */
  
  #form-insc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #FAB005;
  }
  
  #form-insc div {
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 110px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
  }
  
  .error {
    color: red;
  }
  
  #form-insc button {
    width: 10%;
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
  }
  
  /* Connexion */
  
  #form-conn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #FAB005;
  }
  
  #form-conn div {
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 110px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
  }
  
  #form-conn button {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
  }
  
  /* User */
  #user {
    text-align: center;
    color: rgb(213, 165, 105);
  }
  
  /* index */
  
  #message {
    font-size: 20px;
  }

footer {
    position: fixed;
    bottom: 0;
}

#footer-space {

}
#space-f-1 {

}
i {
    color: #000;
}